################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/SigningSamples/.vs
/SigningSamples/bin/Debug
/SigningSamples/obj
/SigningSamplesTest/obj
/SigningSamplesTest/bin
